.flat-banner {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.margin-top-negative {
  margin-top: -75px;
}
.no-mb {
  margin-bottom: 0;
}

.flat-show-address {
  font-weight: 300;
  font-size: 20px;
  color: #333;
}
.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
