.flat-banner {
  height: 350px;
  background-position: center;
  background-size: cover;
}
.flat-show-address {
  font-weight: 300;
  font-size: 20px;
  color: #333;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
